body {
    margin: auto;
    width:80%;
    font-family: 'Oswald', sans-serif;
    background-color: #e6e9ff;
}

.center {
  margin: auto;
  width: 60%;
  border: 3px solid #8e9aaf;
  padding: 10px;
}
  
#container {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    background-color: #DEE2FF;
    margin: 0 auto;
    overflow: visible;
} *

#incomeSection, #paymentSection {
  flex-direction: column;
    flex-basis: 50%; 
    margin-bottom: 20px;
} */


#incomeForm, #paymentForm {
  min-height: 200px; 
}

#incomeCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
}

.card {
  width: 60%;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px; 
  margin: auto;
  margin-bottom: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card h3 {
  color: #333;
}

.card p {
  color: #666;
}

.card .delete-button {
  color: rgb(119, 10, 10);
  cursor: pointer;
  font-weight: bold;
}

.card .delete-button:hover {
  text-decoration: underline;
}

.error-message {
  display: none; 
  color: rgb(119, 10, 10); 
}

#income, #netIncome, #taxRate, #incomeCategory, #incomeDate, #incomeCategorySearch, #incomeDateSearch {
  box-sizing: border-box; 
  border: 1px solid #ccc;
  padding: 5px;
  width: 60%; 
  font-size: 15px;
  margin-bottom: 5px; 
}

#paymentAmount, #paymentDescription, #paymentCategory, #paymentDate, #paymentCategorySearch, #paymentDateSearch {
  box-sizing: border-box;
  border: 1px solid #ccc;
  padding: 5px;
  width: 60%;
  font-size: 15px;
  margin-bottom: 5px; 
}


#income:focus, #taxRate:focus, #incomeCategory:focus, #incomeDate:focus, #paymentAmount:focus, #paymentDescription:focus, #paymentCategory:focus, #paymentDate:focus {
  border: 1px solid #ccc; 
  outline: none;
}

#incomeForm, #paymentForm {
  scroll-margin-top: 20px;
}

h1 {
  width: 100%;
  box-sizing: border-box;
  background-color: #cbc0d3;
  text-align: center;
  color: black;
  padding: 5px;
  margin-bottom: 20px;
}
  
ul {
  list-style-type: square;
  margin: 20px 0 20px 0;
}
  
input[type=text] {
  border: 1px solid #ccc;
  padding: 5px;
  width: 300px;
  font-size: 15px;
}

button {
  border: 1px solid #ccc;
  margin-left: 15px;
  padding: 5px 15px;
  font-size: 15px;
  cursor: pointer;
}
  
.edit-button {
  margin-right: 10px;
} 
